* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.html,
body {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.814);
    color: rgb(255, 179, 0);
}

#head {
    text-align: center;
    margin: 50px 0;
}

#search {
    height: 50px;
    width: 270px;
    margin-bottom: 10px;
}

#search input {
    height: inherit;
    width: inherit;
    border-radius: 7px;
    font-size: 25px;
    border: 3px solid rgb(255, 179, 0);
}

#buttons {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#row {
    margin: 10px 0;
}

#buttons button {
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    border-radius: 7px;
    font-size: 18px;
    border: 3px solid rgb(255, 179, 0);
}

.color {
    color: rgb(255, 140, 0);
    font-weight: 600;
}

.bg {
    color: white;
    background-color: rgb(255, 179, 0);
}